<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anjjan.studylifebalance">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tasks"
            android:label="@string/title_activity_add_task_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Exams"
            android:label="@string/title_activity_exams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vibrate"
            android:label="@string/title_activity_vibrate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Import"
            android:label="@string/title_activity_import"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".TaskNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".Tasks" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ExamNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".Exams" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ShowExamList"
            android:label="@string/title_activity_show_exam_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowTaskList"
            android:label="@string/title_activity_show_task_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
